In [1]:
import numpy as np
import pandas as pd
dataset1 = pd.read_csv("Book2.csv")

In [2]:
dataset1.head() #first 5 column

,Date,Time,Temperature_Comedor_Sensor,Temperature_Habitacion_Sensor,Weather_Temperature,CO2_Comedor_Sensor,CO2_Habitacion_Sensor,Humedad_Comedor_Sensor,Humedad_Habitacion_Sensor,Lighting_Comedor_Sensor,...,Meteo_Exterior_Sol_Oest,Meteo_Exterior_Sol_Est,Meteo_Exterior_Sol_Sud,Meteo_Exterior_Piranometro,Exterior_Entalpic_1,Exterior_Entalpic_2,Exterior_Entalpic_turbo,Temperature_Exterior_Sensor,Humedad_Exterior_Sensor,Day_Of_Week
0,13-03-2012,11:45:00,18.1875,17.8275,0.0,216.560,221.920,39.9125,42.4150,81.6650,...,9690.24,12604.20,95436.8,758.880,0,0,0,18.1150,48.3750,2.0
1,13-03-2012,12:00:00,18.4633,18.1207,6.8,219.947,220.363,39.9267,42.2453,81.7413,...,11022.00,10787.20,95436.8,762.069,0,0,0,18.4147,47.8080,2.0
2,13-03-2012,12:15:00,18.7673,18.4367,17.0,219.403,218.933,39.7720,42.2267,81.4240,...,13960.50,9669.63,95398.6,766.251,0,0,0,18.8533,47.4320,2.0
3,13-03-2012,12:30:00,19.0727,18.7513,18.0,218.613,217.045,39.7760,42.0987,81.5013,...,18511.20,9648.13,95360.3,766.037,0,0,0,19.2907,47.0240,2.0
4,13-03-2012,12:45:00,19.3721,19.0414,20.0,217.714,216.080,39.7757,42.0686,81.4657,...,26349.00,9208.32,95354.9,762.743,0,0,0,19.7400,45.4743,2.0

In [3]:
dataset1.tail()#last 5 columns

,Date,Time,Temperature_Comedor_Sensor,Temperature_Habitacion_Sensor,Weather_Temperature,CO2_Comedor_Sensor,CO2_Habitacion_Sensor,Humedad_Comedor_Sensor,Humedad_Habitacion_Sensor,Lighting_Comedor_Sensor,...,Meteo_Exterior_Sol_Oest,Meteo_Exterior_Sol_Est,Meteo_Exterior_Sol_Sud,Meteo_Exterior_Piranometro,Exterior_Entalpic_1,Exterior_Entalpic_2,Exterior_Entalpic_turbo,Temperature_Exterior_Sensor,Humedad_Exterior_Sensor,Day_Of_Week
2759,11-04-2012,05:30:00,21.1520,20.8187,13.0000,190.539,192.181,41.3120,41.6880,11.4427,...,0.00,0.00,0.000,-3.4340,0,0,0,16.6180,49.2960,3.0
2760,11-04-2012,05:45:00,21.0413,20.7053,12.1333,190.421,193.067,41.3173,41.7200,11.6867,...,465.92,2716.67,523.264,3.8520,0,0,0,16.4013,50.0373,3.0
2761,11-04-2012,06:00:00,20.9347,20.5827,12.0000,190.432,193.653,41.3333,41.7573,19.5387,...,3454.98,16203.80,3347.460,26.8300,0,0,0,16.2607,50.0587,3.0
2762,11-04-2012,06:15:00,20.8560,20.5200,12.0000,191.531,193.387,41.3093,41.8107,20.9853,...,6795.26,38303.10,7110.660,66.9493,0,0,0,16.2367,49.8400,3.0
2763,11-04-2012,06:30:00,20.7627,20.4400,12.1333,191.563,193.664,41.2800,41.8373,20.5620,...,8952.83,51347.50,10270.700,112.2670,0,0,0,16.2860,50.2987,3.0

In [4]:
dataset1.isnull().sum()

Date                             0
Time                             0
Temperature_Comedor_Sensor       0
Temperature_Habitacion_Sensor    0
Weather_Temperature              0
CO2_Comedor_Sensor               0
CO2_Habitacion_Sensor            0
Humedad_Comedor_Sensor           0
Humedad_Habitacion_Sensor        0
Lighting_Comedor_Sensor          0
Lighting_Habitacion_Sensor       0
Precipitacion                    0
Meteo_Exterior_Crepusculo        0
Meteo_Exterior_Viento            0
Meteo_Exterior_Sol_Oest          0
Meteo_Exterior_Sol_Est           0
Meteo_Exterior_Sol_Sud           0
Meteo_Exterior_Piranometro       0
Exterior_Entalpic_1              0
Exterior_Entalpic_2              0
Exterior_Entalpic_turbo          0
Temperature_Exterior_Sensor      0
Humedad_Exterior_Sensor          0
Day_Of_Week                      0
dtype: int64

In [5]:
df=dataset1

In [7]:
  #droping unecessary columns
df=df.drop(['Exterior_Entalpic_1','Exterior_Entalpic_2','Exterior_Entalpic_turbo','Date','Time'],axis=1)

In [8]:
df.shape

(2764, 19)

In [9]:
df.dtypes

Temperature_Comedor_Sensor       float64
Temperature_Habitacion_Sensor    float64
Weather_Temperature              float64
CO2_Comedor_Sensor               float64
CO2_Habitacion_Sensor            float64
Humedad_Comedor_Sensor           float64
Humedad_Habitacion_Sensor        float64
Lighting_Comedor_Sensor          float64
Lighting_Habitacion_Sensor       float64
Precipitacion                      int64
Meteo_Exterior_Crepusculo        float64
Meteo_Exterior_Viento            float64
Meteo_Exterior_Sol_Oest          float64
Meteo_Exterior_Sol_Est           float64
Meteo_Exterior_Sol_Sud           float64
Meteo_Exterior_Piranometro       float64
Temperature_Exterior_Sensor      float64
Humedad_Exterior_Sensor          float64
Day_Of_Week                      float64
dtype: object

In [10]:
from sklearn.preprocessing import LabelEncoder 
le= LabelEncoder() 
label_encoder_x= LabelEncoder()  
df.iloc[:, 0] = le.fit_transform(df.iloc[:, 0])

# label encoder is used to get sutdent id values in categorical data

In [11]:
df.head()

,Temperature_Comedor_Sensor,Temperature_Habitacion_Sensor,Weather_Temperature,CO2_Comedor_Sensor,CO2_Habitacion_Sensor,Humedad_Comedor_Sensor,Humedad_Habitacion_Sensor,Lighting_Comedor_Sensor,Lighting_Habitacion_Sensor,Precipitacion,Meteo_Exterior_Crepusculo,Meteo_Exterior_Viento,Meteo_Exterior_Sol_Oest,Meteo_Exterior_Sol_Est,Meteo_Exterior_Sol_Sud,Meteo_Exterior_Piranometro,Temperature_Exterior_Sensor,Humedad_Exterior_Sensor,Day_Of_Week
0,822,17.8275,0.0,216.560,221.920,39.9125,42.4150,81.6650,113.520,0,623.360,1.42625,9690.24,12604.20,95436.8,758.880,18.1150,48.3750,2.0
1,897,18.1207,6.8,219.947,220.363,39.9267,42.2453,81.7413,113.605,0,623.211,1.59200,11022.00,10787.20,95436.8,762.069,18.4147,47.8080,2.0
2,1010,18.4367,17.0,219.403,218.933,39.7720,42.2267,81.4240,113.600,0,622.656,1.89133,13960.50,9669.63,95398.6,766.251,18.8533,47.4320,2.0
3,1112,18.7513,18.0,218.613,217.045,39.7760,42.0987,81.5013,113.344,0,622.571,1.82800,18511.20,9648.13,95360.3,766.037,19.2907,47.0240,2.0
4,1202,19.0414,20.0,217.714,216.080,39.7757,42.0686,81.4657,113.034,0,622.400,2.36071,26349.00,9208.32,95354.9,762.743,19.7400,45.4743,2.0

In [12]:
df.info() #count and datatype of dataset

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2764 entries, 0 to 2763
Data columns (total 19 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Temperature_Comedor_Sensor     2764 non-null   int64
 1   Temperature_Habitacion_Sensor  2764 non-null   float64
 2   Weather_Temperature            2764 non-null   float64
 3   CO2_Comedor_Sensor             2764 non-null   float64
 4   CO2_Habitacion_Sensor          2764 non-null   float64
 5   Humedad_Comedor_Sensor         2764 non-null   float64
 6   Humedad_Habitacion_Sensor      2764 non-null   float64
 7   Lighting_Comedor_Sensor        2764 non-null   float64
 8   Lighting_Habitacion_Sensor     2764 non-null   float64
 9   Precipitacion                  2764 non-null   int64
 10  Meteo_Exterior_Crepusculo      2764 non-null   float64
 11  Meteo_Exterior_Viento          2764 non-null   float64
 12  Meteo_Exterior_Sol_Oest        2764 non-null   float64
 13  Meteo_Exterior_Sol_Est         2764 non-null   float64
 14  Meteo_Exterior_Sol_Sud         2764 non-null   float64
 15  Meteo_Exterior_Piranometro     2764 non-null   float64
 16  Temperature_Exterior_Sensor    2764 non-null   float64
 17  Humedad_Exterior_Sensor        2764 non-null   float64
 18  Day_Of_Week                    2764 non-null   float64
dtypes: float64(17), int64(2)
memory usage: 410.4 KB

In [13]:
from sklearn.impute import SimpleImputer
si=SimpleImputer(strategy='most_frequent')
df_im=si.fit_transform(df)

In [14]:
df_im=pd.DataFrame(df_im)

In [15]:
df

,Temperature_Comedor_Sensor,Temperature_Habitacion_Sensor,Weather_Temperature,CO2_Comedor_Sensor,CO2_Habitacion_Sensor,Humedad_Comedor_Sensor,Humedad_Habitacion_Sensor,Lighting_Comedor_Sensor,Lighting_Habitacion_Sensor,Precipitacion,Meteo_Exterior_Crepusculo,Meteo_Exterior_Viento,Meteo_Exterior_Sol_Oest,Meteo_Exterior_Sol_Est,Meteo_Exterior_Sol_Sud,Meteo_Exterior_Piranometro,Temperature_Exterior_Sensor,Humedad_Exterior_Sensor,Day_Of_Week
0,822,17.8275,0.0000,216.560,221.920,39.9125,42.4150,81.6650,113.5200,0,623.360,1.426250,9690.24,12604.20,95436.800,758.8800,18.1150,48.3750,2.0
1,897,18.1207,6.8000,219.947,220.363,39.9267,42.2453,81.7413,113.6050,0,623.211,1.592000,11022.00,10787.20,95436.800,762.0690,18.4147,47.8080,2.0
2,1010,18.4367,17.0000,219.403,218.933,39.7720,42.2267,81.4240,113.6000,0,622.656,1.891330,13960.50,9669.63,95398.600,766.2510,18.8533,47.4320,2.0
3,1112,18.7513,18.0000,218.613,217.045,39.7760,42.0987,81.5013,113.3440,0,622.571,1.828000,18511.20,9648.13,95360.300,766.0370,19.2907,47.0240,2.0
4,1202,19.0414,20.0000,217.714,216.080,39.7757,42.0686,81.4657,113.0340,0,622.400,2.360710,26349.00,9208.32,95354.900,762.7430,19.7400,45.4743,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2759,1739,20.8187,13.0000,190.539,192.181,41.3120,41.6880,11.4427,12.9400,0,392.603,0.074667,0.00,0.00,0.000,-3.4340,16.6180,49.2960,3.0
2760,1710,20.7053,12.1333,190.421,193.067,41.3173,41.7200,11.6867,19.3200,0,613.120,0.000000,465.92,2716.67,523.264,3.8520,16.4013,50.0373,3.0
2761,1687,20.5827,12.0000,190.432,193.653,41.3333,41.7573,19.5387,23.2427,0,613.803,0.310667,3454.98,16203.80,3347.460,26.8300,16.2607,50.0587,3.0
2762,1662,20.5200,12.0000,191.531,193.387,41.3093,41.8107,20.9853,23.4400,0,615.403,0.299333,6795.26,38303.10,7110.660,66.9493,16.2367,49.8400,3.0
2763,1641,20.4400,12.1333,191.563,193.664,41.2800,41.8373,20.5620,22.3080,0,616.725,0.908000,8952.83,51347.50,10270.700,112.2670,16.2860,50.2987,3.0

In [16]:
df_im

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18
0,822.0,17.8275,0.0000,216.560,221.920,39.9125,42.4150,81.6650,113.5200,0.0,623.360,1.426250,9690.24,12604.20,95436.800,758.8800,18.1150,48.3750,2.0
1,897.0,18.1207,6.8000,219.947,220.363,39.9267,42.2453,81.7413,113.6050,0.0,623.211,1.592000,11022.00,10787.20,95436.800,762.0690,18.4147,47.8080,2.0
2,1010.0,18.4367,17.0000,219.403,218.933,39.7720,42.2267,81.4240,113.6000,0.0,622.656,1.891330,13960.50,9669.63,95398.600,766.2510,18.8533,47.4320,2.0
3,1112.0,18.7513,18.0000,218.613,217.045,39.7760,42.0987,81.5013,113.3440,0.0,622.571,1.828000,18511.20,9648.13,95360.300,766.0370,19.2907,47.0240,2.0
4,1202.0,19.0414,20.0000,217.714,216.080,39.7757,42.0686,81.4657,113.0340,0.0,622.400,2.360710,26349.00,9208.32,95354.900,762.7430,19.7400,45.4743,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2759,1739.0,20.8187,13.0000,190.539,192.181,41.3120,41.6880,11.4427,12.9400,0.0,392.603,0.074667,0.00,0.00,0.000,-3.4340,16.6180,49.2960,3.0
2760,1710.0,20.7053,12.1333,190.421,193.067,41.3173,41.7200,11.6867,19.3200,0.0,613.120,0.000000,465.92,2716.67,523.264,3.8520,16.4013,50.0373,3.0
2761,1687.0,20.5827,12.0000,190.432,193.653,41.3333,41.7573,19.5387,23.2427,0.0,613.803,0.310667,3454.98,16203.80,3347.460,26.8300,16.2607,50.0587,3.0
2762,1662.0,20.5200,12.0000,191.531,193.387,41.3093,41.8107,20.9853,23.4400,0.0,615.403,0.299333,6795.26,38303.10,7110.660,66.9493,16.2367,49.8400,3.0
2763,1641.0,20.4400,12.1333,191.563,193.664,41.2800,41.8373,20.5620,22.3080,0.0,616.725,0.908000,8952.83,51347.50,10270.700,112.2670,16.2860,50.2987,3.0

In [18]:
target=df_im[18].astype('int')

In [19]:
target

0       2
1       2
2       2
3       2
4       2
       ..
2759    3
2760    3
2761    3
2762    3
2763    3
Name: 18, Length: 2764, dtype: int64

In [20]:
df.head()

,Temperature_Comedor_Sensor,Temperature_Habitacion_Sensor,Weather_Temperature,CO2_Comedor_Sensor,CO2_Habitacion_Sensor,Humedad_Comedor_Sensor,Humedad_Habitacion_Sensor,Lighting_Comedor_Sensor,Lighting_Habitacion_Sensor,Precipitacion,Meteo_Exterior_Crepusculo,Meteo_Exterior_Viento,Meteo_Exterior_Sol_Oest,Meteo_Exterior_Sol_Est,Meteo_Exterior_Sol_Sud,Meteo_Exterior_Piranometro,Temperature_Exterior_Sensor,Humedad_Exterior_Sensor,Day_Of_Week
0,822,17.8275,0.0,216.560,221.920,39.9125,42.4150,81.6650,113.520,0,623.360,1.42625,9690.24,12604.20,95436.8,758.880,18.1150,48.3750,2.0
1,897,18.1207,6.8,219.947,220.363,39.9267,42.2453,81.7413,113.605,0,623.211,1.59200,11022.00,10787.20,95436.8,762.069,18.4147,47.8080,2.0
2,1010,18.4367,17.0,219.403,218.933,39.7720,42.2267,81.4240,113.600,0,622.656,1.89133,13960.50,9669.63,95398.6,766.251,18.8533,47.4320,2.0
3,1112,18.7513,18.0,218.613,217.045,39.7760,42.0987,81.5013,113.344,0,622.571,1.82800,18511.20,9648.13,95360.3,766.037,19.2907,47.0240,2.0
4,1202,19.0414,20.0,217.714,216.080,39.7757,42.0686,81.4657,113.034,0,622.400,2.36071,26349.00,9208.32,95354.9,762.743,19.7400,45.4743,2.0

In [21]:
import matplotlib.pyplot as plot
from sklearn import linear_model

In [22]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(df,target,test_size=0.3)

In [23]:
x_train.shape

(1934, 19)

In [24]:
x_test.shape

(830, 19)

In [25]:
from sklearn.linear_model import Perceptron

In [26]:
p1=Perceptron(penalty='l1')

In [27]:
df

,Temperature_Comedor_Sensor,Temperature_Habitacion_Sensor,Weather_Temperature,CO2_Comedor_Sensor,CO2_Habitacion_Sensor,Humedad_Comedor_Sensor,Humedad_Habitacion_Sensor,Lighting_Comedor_Sensor,Lighting_Habitacion_Sensor,Precipitacion,Meteo_Exterior_Crepusculo,Meteo_Exterior_Viento,Meteo_Exterior_Sol_Oest,Meteo_Exterior_Sol_Est,Meteo_Exterior_Sol_Sud,Meteo_Exterior_Piranometro,Temperature_Exterior_Sensor,Humedad_Exterior_Sensor,Day_Of_Week
0,822,17.8275,0.0000,216.560,221.920,39.9125,42.4150,81.6650,113.5200,0,623.360,1.426250,9690.24,12604.20,95436.800,758.8800,18.1150,48.3750,2.0
1,897,18.1207,6.8000,219.947,220.363,39.9267,42.2453,81.7413,113.6050,0,623.211,1.592000,11022.00,10787.20,95436.800,762.0690,18.4147,47.8080,2.0
2,1010,18.4367,17.0000,219.403,218.933,39.7720,42.2267,81.4240,113.6000,0,622.656,1.891330,13960.50,9669.63,95398.600,766.2510,18.8533,47.4320,2.0
3,1112,18.7513,18.0000,218.613,217.045,39.7760,42.0987,81.5013,113.3440,0,622.571,1.828000,18511.20,9648.13,95360.300,766.0370,19.2907,47.0240,2.0
4,1202,19.0414,20.0000,217.714,216.080,39.7757,42.0686,81.4657,113.0340,0,622.400,2.360710,26349.00,9208.32,95354.900,762.7430,19.7400,45.4743,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2759,1739,20.8187,13.0000,190.539,192.181,41.3120,41.6880,11.4427,12.9400,0,392.603,0.074667,0.00,0.00,0.000,-3.4340,16.6180,49.2960,3.0
2760,1710,20.7053,12.1333,190.421,193.067,41.3173,41.7200,11.6867,19.3200,0,613.120,0.000000,465.92,2716.67,523.264,3.8520,16.4013,50.0373,3.0
2761,1687,20.5827,12.0000,190.432,193.653,41.3333,41.7573,19.5387,23.2427,0,613.803,0.310667,3454.98,16203.80,3347.460,26.8300,16.2607,50.0587,3.0
2762,1662,20.5200,12.0000,191.531,193.387,41.3093,41.8107,20.9853,23.4400,0,615.403,0.299333,6795.26,38303.10,7110.660,66.9493,16.2367,49.8400,3.0
2763,1641,20.4400,12.1333,191.563,193.664,41.2800,41.8373,20.5620,22.3080,0,616.725,0.908000,8952.83,51347.50,10270.700,112.2670,16.2860,50.2987,3.0

In [28]:
df

,Temperature_Comedor_Sensor,Temperature_Habitacion_Sensor,Weather_Temperature,CO2_Comedor_Sensor,CO2_Habitacion_Sensor,Humedad_Comedor_Sensor,Humedad_Habitacion_Sensor,Lighting_Comedor_Sensor,Lighting_Habitacion_Sensor,Precipitacion,Meteo_Exterior_Crepusculo,Meteo_Exterior_Viento,Meteo_Exterior_Sol_Oest,Meteo_Exterior_Sol_Est,Meteo_Exterior_Sol_Sud,Meteo_Exterior_Piranometro,Temperature_Exterior_Sensor,Humedad_Exterior_Sensor,Day_Of_Week
0,822,17.8275,0.0000,216.560,221.920,39.9125,42.4150,81.6650,113.5200,0,623.360,1.426250,9690.24,12604.20,95436.800,758.8800,18.1150,48.3750,2.0
1,897,18.1207,6.8000,219.947,220.363,39.9267,42.2453,81.7413,113.6050,0,623.211,1.592000,11022.00,10787.20,95436.800,762.0690,18.4147,47.8080,2.0
2,1010,18.4367,17.0000,219.403,218.933,39.7720,42.2267,81.4240,113.6000,0,622.656,1.891330,13960.50,9669.63,95398.600,766.2510,18.8533,47.4320,2.0
3,1112,18.7513,18.0000,218.613,217.045,39.7760,42.0987,81.5013,113.3440,0,622.571,1.828000,18511.20,9648.13,95360.300,766.0370,19.2907,47.0240,2.0
4,1202,19.0414,20.0000,217.714,216.080,39.7757,42.0686,81.4657,113.0340,0,622.400,2.360710,26349.00,9208.32,95354.900,762.7430,19.7400,45.4743,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2759,1739,20.8187,13.0000,190.539,192.181,41.3120,41.6880,11.4427,12.9400,0,392.603,0.074667,0.00,0.00,0.000,-3.4340,16.6180,49.2960,3.0
2760,1710,20.7053,12.1333,190.421,193.067,41.3173,41.7200,11.6867,19.3200,0,613.120,0.000000,465.92,2716.67,523.264,3.8520,16.4013,50.0373,3.0
2761,1687,20.5827,12.0000,190.432,193.653,41.3333,41.7573,19.5387,23.2427,0,613.803,0.310667,3454.98,16203.80,3347.460,26.8300,16.2607,50.0587,3.0
2762,1662,20.5200,12.0000,191.531,193.387,41.3093,41.8107,20.9853,23.4400,0,615.403,0.299333,6795.26,38303.10,7110.660,66.9493,16.2367,49.8400,3.0
2763,1641,20.4400,12.1333,191.563,193.664,41.2800,41.8373,20.5620,22.3080,0,616.725,0.908000,8952.83,51347.50,10270.700,112.2670,16.2860,50.2987,3.0

In [29]:
p1.fit(x_train,y_train)

Perceptron(penalty='l1')

In [30]:
from sklearn.metrics import accuracy_score

In [31]:
train_pred=p1.predict(x_train)

In [32]:
train_pred=p1.predict(x_test)

In [33]:


X=df
y=target
from sklearn.linear_model import LogisticRegression

from sklearn import preprocessing
from sklearn import utils

#convert y values to categorical values
lab = preprocessing.LabelEncoder()
y = lab.fit_transform(y)

In [34]:

#split the dataset in the Training and testing 
from sklearn.model_selection import train_test_split
X_train , X_test ,y_train, y_test = train_test_split(X,y,test_size=0.2,random_state=0)
print(np.shape(X))
print(np.shape(X_test))
print(np.shape(X_train))

#Create the object of StandardScaler class for independent variables or features
from sklearn.preprocessing import StandardScaler 
sc=StandardScaler()
sc.fit(X_train)
X_train_std = sc.transform(X_train)
X_test_std = sc.transform(X_test)

(2764, 19)
(553, 19)
(2211, 19)

In [35]:
### SVM (Support Vector Machine)
from sklearn.svm import SVC
svm = SVC(kernel='linear', C=1,random_state=0)
svm.fit(X_train_std,y_train)
y_pred=svm.predict(X_test_std)
print('misclassified samples: %d'%(y_test!=y_pred).sum())
from sklearn.metrics import accuracy_score
print('Accuracy:%.2f'%accuracy_score(y_test,y_pred))

misclassified samples: 1
Accuracy:1.00

In [36]:
### KNN (K-Nearest Neighbors)
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score
knn1=KNeighborsClassifier(n_neighbors=3)
knn1.fit(X_train_std,y_train)
y_pred=knn1.predict(X_test_std)
print('misclassified samples: %d'%(y_test!=y_pred).sum())
from sklearn.metrics import accuracy_score
print('Accuracy:%.2f'%accuracy_score(y_test,y_pred))

misclassified samples: 18
Accuracy:0.97

In [37]:
### Logistic Regression
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import classification_report, confusion_matrix
model = LogisticRegression(solver='liblinear', random_state=0)
model.fit(X,y)
model = LogisticRegression(solver='liblinear', random_state=0).fit(X, y)
model.predict_proba(X)
model.predict(X)
model.score(X,y)
print(classification_report(y, model.predict(X)))
model.score(X,y)

              precision    recall  f1-score   support

           0       0.99      1.00      0.99       384
           1       0.69      0.68      0.69       434
           2       0.57      0.65      0.61       410
           3       0.56      0.51      0.53       384
           4       0.49      0.39      0.43       384
           5       0.66      0.75      0.70       388
           6       0.98      1.00      0.99       380

    accuracy                           0.71      2764
   macro avg       0.71      0.71      0.71      2764
weighted avg       0.70      0.71      0.70      2764

0.709479015918958

In [38]:
from sklearn.ensemble import RandomForestClassifier #algorithm of hyperparameter tuning
from sklearn.model_selection import GridSearchCV #Cv: Cross Validation
from sklearn.metrics import accuracy_score
from sklearn.model_selection import train_test_split
X_train, X_val, y_train, y_val = train_test_split(X, y, test_size=0.2, random_state=0)

# Define the hyperparameters to tune
param_grid = {
    'n_estimators': [50, 100, 150],
    'max_depth': [None, 5, 10],
    'min_samples_split': [2, 5, 10]
}
# Create a random forest classifier object
rfc = RandomForestClassifier()

# Perform a grid search with cross-validation to find the best hyperparameters
grid_search = GridSearchCV(estimator=rfc, param_grid=param_grid, cv=5)
grid_search.fit(X_train, y_train)

# Print the best hyperparameters and their corresponding accuracy score on the validation set
print("Best hyperparameters:", grid_search.best_params_)
y_pred = grid_search.predict(X_val)
print("Validation accuracy score:", accuracy_score(y_val, y_pred))

Best hyperparameters: {'max_depth': None, 'min_samples_split': 2, 'n_estimators': 100}
Validation accuracy score: 0.9981916817359855